*{  margin: 0;
    padding : 0;
}
body {
    background-image: url(../images/pattern4.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: #1A2227;
    font-family: sans-serif;
/*    overflow: hidden;*/
}
.layout {
   position: absolute;
    top: 50%; 
    left: 20%;
    transform: translateY(-50%);
    
}

.letter{
    
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 5px;
    
}


.letter span:nth-child(even),
.letter span:nth-child(odd){
    position: relative;
    padding: 8px;
    border: 4px solid #262626;
/*    display: inline;*/
    display: inline-block;
}

.letter span:nth-child(even){
    transform: skewY(10deg);
}


.letter span:nth-child(even)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    transform: translateY(-100%);
    background-color: #1A2227;
    z-index: -1;
    
}
.letter:hover span:nth-child(even)::before{
    top: 0;
    transform: translateY(0);
/*    color: white;*/
}


.letter:hover span:nth-child(even){
    transition: .5s;
    color: white;
}



.letter span:nth-child(odd){
    transform: skewY(-10deg);
    color: aliceblue;
}

.letter span:nth-child(odd)::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
/*    color: green;*/
    transform: translateY(0%);
    background-color: #1A2227;
    z-index: -1;   
}

.letter:hover span:nth-child(odd)::before{
    transform: translateY(100%);
}

.letter:hover span:nth-child(odd){
    transition: .5s;
    color: #1A2227;
}

